html {
  scroll-behavior:smooth;
}
/*Globales*/
html {
    box-sizing: border-box;
    font-size: 62.5%; /*Se agrega para utilizar Rems, 1Rem = 10px*/
}
  *, *:before, *:after {
    box-sizing: inherit;
}
h1,h2 , h3{
    font-optical-sizing: auto;
    margin: 0 0 0.5rem 0;
    font-weight: 300;
}
h1{
    font-size: 5rem;
    font-weight: 300;
}
h2{
    font-size: 4rem;
    font-weight: 300;
}
h3{
    font-size: 3rem;
    font-weight: 300;
}
p{
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}
a{
    font-size: 1.7rem;
    font-weight: 300;
    text-decoration: none;
    color: #000000;
    padding: 0.5rem 0rem;
}
img{
    max-width: 100%;
    display: block;
}
* {
  box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }
